In [5]:
#Analyze of the host vulnerabilities on 21, 22, 23 tcp port and of interactions with mail servers .
import protocols.tcp.tcp as tcp_module
import protocols.fdns.type_txt.standard.dkim as dkim_module
import protocols.fdns.type_txt.standard.dmarc as dmarc_module
import protocols.fdns.type_txt.standard.sts as sts_module
import protocols.fdns.type_txt.standard.spf as spf_module
import protocols.fdns.type_a.a as a_module
import pandas as pd
import math

"""
#Create necessary dataframe.
df_a = a_module.get_df_a('./data/project_sonar/2021-04-23-1619136719-fdns_a.json.gz')
df_ssh = tcp_module.get_df_tcp('./data/project_sonar/2021-04-29-1619726956-ssh_22.csv.gz')
df_telnet = tcp_module.get_df_tcp('./data/project_sonar/2021-04-30-1619776121-telnet_23.csv.gz')
df_ftp = tcp_module.get_df_tcp('./data/project_sonar/2021-04-07-1617768240-ftp_21.csv.gz')
df_dkim = dkim_module.get_df_dkim('./data/project_sonar2021-04-23-1619217645-fdns_txt.json.gz')
df_dmarc = dmarc_module.get_df_dmarc('./data/project_sonar/2021-04-23-1619217645-fdns_txt.json.gz')
df_sts = sts_module.get_df_sts('./data/project_sonar/2021-04-23-1619217645-fdns_txt.json.gz')
df_spf = spf_module.get_df_spf('./data/project_sonar/2021-04-23-1619217645-fdns_txt.json.gz')
"""
#Cretae necessary TEST dataframe.
df_a = a_module.get_df_a('./data/project_sonar/test_a.json')
df_ssh = tcp_module.get_df_tcp('./data/project_sonar/test_ssh.json')
df_telnet = tcp_module.get_df_tcp('./data/project_sonar/test_telnet.json')
df_ftp = tcp_module.get_df_tcp('./data/project_sonar/test_ftp.json')
df_dkim = dkim_module.get_df_dkim('./data/project_sonar/test_dkim.json')
df_dmarc = dmarc_module.get_df_dmarc('./data/project_sonar/test_dmarc.json')
df_sts = sts_module.get_df_sts('./data/project_sonar/test_sts.json')
df_spf = spf_module.get_df_spf('./data/project_sonar/test_spf.json')


#The hostname to search.
hostname = '0.188.12.93.rev.sfr.net'


#Find hostname in the A-dataframe.
df_a_filtered = a_module.fdns_module.get_df_hostname_specified(df_a, hostname)


#Find ip-address in all TCP-dataframes. 
ip_address = [df_a_filtered.iloc[0]['Ip']]
df_ssh_filtered = tcp_module.get_df_ip_selected(df_ssh, 'S_address', ip_address, 0)
df_telnet_filtered = tcp_module.get_df_ip_selected(df_telnet, 'S_address', ip_address, 0)
df_ftp_filtered = tcp_module.get_df_ip_selected(df_ftp, 'S_address', ip_address, 0)


#Find hostname in the TXT-dataframe.
df_dkim_filtered = dkim_module.txt_module.fdns_module.get_df_hostname_specified(df_dkim, hostname)
df_dmarc_filtered = dmarc_module.txt_module.fdns_module.get_df_hostname_specified(df_dmarc, hostname)
df_sts_filtered = sts_module.txt_module.fdns_module.get_df_hostname_specified(df_sts, hostname)
df_spf_filtered = pd.DataFrame()
for index, item in enumerate(df_spf['IP4_ADDRESS']):
    if type(item) == list and ip_address[0] in item:
        df_spf_filtered = df_spf_filtered.append(df_spf.loc[index])
                     

#Output dataframe
display(df_ssh_filtered)
display(df_telnet_filtered)
display(df_ftp_filtered)
display(df_dkim_filtered)
display(df_dmarc_filtered)
display(df_sts_filtered)
display(df_spf_filtered)

,Date,S_address,S_port,D_address,D_port,I_pid,Time_to_live
0,2021-04-29 20:33:27,93.12.188.0,22,71.6.233.20,22,55273,56

,Date,S_address,S_port,D_address,D_port,I_pid,Time_to_live
0,2021-04-30 09:48:51,93.12.188.0,23,71.6.233.5,23,0,60

,Date,S_address,S_port,D_address,D_port,I_pid,Time_to_live
0,2021-04-07 04:09:10,93.12.188.0,21,71.6.233.10,21,0,53

,Date,Domain,HASH_ALG,KEY_TYPE,TAG,PUBL_KEY,SERVICE,NOTE
9,2021-04-23 22:49:09,0.188.12.93.rev.sfr.net,*,rsa,NaN,MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQCEorU89e...,*,NaN
15,2021-04-23 22:49:37,0.188.12.93.rev.sfr.net,*,rsa,s,MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQDPtW5iwp...,*,NaN

,Date,Domain,ASPF,ADKIM,FO,P,PCT,RF,RI,RUA,RUF,SP
3,2021-04-23 22:47:36,0.188.12.93.rev.sfr.net,r,r,1,quarantine,100,afrf,86400,mailto:system@zyndic.com,mailto:system@zyndic.com,quarantine
17,2021-04-24 00:07:07,0.188.12.93.rev.sfr.net,s,s,1,reject,100,afrf,86400,NaN,NaN,reject

                 Date                   Domain             Id
7 2021-04-24 01:45:45  0.188.12.93.rev.sfr.net   201901071200
9 2021-04-24 02:00:30  0.188.12.93.rev.sfr.net  1600919091060

,A,ALL_QUALIFIERS,A_REFERENCE_DOMAIN,Date,Domain,EXISTS,EXPLANATION,INCLUDE,IP4_ADDRESS,IP4_MECHANISM,IP4_QUALIFIERS,IP6_ADDRESS,IP6_MECHANISM,IP6_QUALIFIERS,MX,MX_REFERENCE_DOMAIN,PTR,PTR_REFERENCE_DOMAIN,REDIRECT
7,+a,?,NaN,2021-04-23 22:49:06,0--0-us.salessourceinc.com,NaN,NaN,NaN,[93.12.188.0],[],[+],NaN,NaN,NaN,+mx,NaN,NaN,NaN,NaN
18,+a,~,NaN,2021-04-23 22:45:04,0--0.us,NaN,NaN,[relay.mailchannels.net],"[174.136.12.72, 174.136.13.55, 93.12.188.0]","[[], []]","[+, +, +]",NaN,NaN,NaN,+mx,NaN,NaN,NaN,NaN